.detailsList {
    display: flex;
    gap: 20px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleMovie {
    font-size: 40px;
    line-height: 1;
    text-shadow: -4px 5px 6px #eceeb4;
}